body {
  background-color: rgb(72, 147, 217);
}

#navbar {
  background-color: rgb(48, 75, 100);
  padding-bottom: 15px;
}

#restartButton {
  background-color: rgb(72, 147, 217);
  color: #ffffff;
  width: 20%;
  margin-left: 3%;
  font-size: 120%;
  border-radius: 8px;
  border-color: #fff;
  border-style: solid;
  border-width: 2px;
  margin-top: 1%;
  padding: 1%;
}

#restartButton:hover {
  background-color: rgb(200, 224, 246);
}

#scorebar {
  background-color: rgb(72, 147, 217);
  padding: 1%;
  border-radius: 8px;
  border-color: #fff;
  border-style: solid;
  border-width: 2px;
  display: inline-table;
  margin-left: 2%;
  margin-top: 1%;
  width: 45%;
}

label {
  font-weight: bold;
  font-size: 150%;
  margin-left: 8%;
  margin-right: 8%;
}

#try {
  color: lemonchiffon;
}

#tryText {
  color: lemonchiffon;
  margin-left: 0%;
  font-size: 100%;
}

#found {
  color: lightgreen;
}

#foundText {
  color: lightgreen;
  margin-left: 0%;
  font-size: 100%;
}

#score {
  color: lightcoral;
}

#scoreText {
  color: lightcoral;
  margin-left: 0%;
  font-size: 100%;
}

#playPanel {
  width: 100%;
  background-color: burlywood;
  margin-top: 1%;
  border-style: dashed;
  border-color: gray;
  border-width: 3px;
  padding-bottom: 1%;
  padding-top: 1%;
}

.win {
  background-color: darkorange;
  width: 60%;
  height: 60%;
  top: 15%;
  left: 15%;
  position: absolute;
  border-color: #ffffff;
  border-style: solid;
  border-width: 8px;
  border-radius: 8px;
  display: none;
}

.win h1 {
  margin-left: 35%;
}

.win button {
  width: 30%;
  height: 20%;
  background-color: rgb(48, 75, 100);
  color: #ffffff;
  font-size: 140%;
  margin-left: 35%;
  border: solid;
  margin-top: 10%;
}

.win button:hover {
  background-color: rgb(200, 224, 246);
}

#shown {
  display: initial;
}

.win h1,
.win p {
  color: #ffffff;
}

.win p {
  font-size: 170%;
  margin-left: 20%;
  margin-top: 10%;
}

.card,
.cardFront {
  display: inline-block;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 8%;
  height: 100px;
  width: 75px;
  margin-left: 5%;
  margin-top: 1%;
}

.card {
  background-image: linear-gradient(darkorange, red);
}

.card .icon {
  opacity: 0;
}

.cardFront .icon {
  display: block;
  margin-top: 20%;
  opacity: 1;
}

.card:hover {
  opacity: 0.5;
  transform: rotate(20deg);
}

.cardFront {
  background-color: lightsalmon;
}

footer {
  margin-top: 3%;
  background-color: rgb(48, 75, 100);
  padding: 20px;
}

span {
  color: #ffffff;
  font-size: 20px;
  margin-left: 35%;
}

@media screen and (max-width: 1130px) {
  #restartButton {
    width: 25%;
    font-size: 130%;
    margin-top: 1%;
    padding: 1%;
  }

  #scorebar {
    margin-top: 2%;
    width: 60%;
  }

  label {
    font-size: 150%;
    margin-left: 8%;
    margin-right: 1%;
    padding: 1%;
  }

  .card,
  .cardFront {
    height: 85px;
    width: 70px;
    margin-left: 5%;
    margin-top: 1%;
  }

  .cardFront .icon {
    margin-top: 25%;
    width: 80%;
    margin-left: 10%;
  }

  footer {
    margin-top: 7%;
  }

  span {
    font-size: 130%;
    margin-left: 30%;
  }
}

@media screen and (max-width: 750px) {
  #restartButton {
    width: 25%;
    font-size: 120%;
    margin-top: 1%;
    padding: 1%;
  }

  #scorebar {
    margin-top: 3%;
    width: 60%;
  }

  label {
    font-size: 120%;
    margin-left: 10%;
    margin-right: 1%;
    padding: 1%;
  }

  .card,
  .cardFront {
    height: 80px;
    width: 65px;
    margin-left: 5%;
    margin-top: 1%;
  }

  .cardFront .icon {
    margin-top: 25%;
    width: 80%;
    margin-left: 10%;
  }

  footer {
    margin-top: 4%;
  }

  span {
    font-size: 120%;
    margin-left: 30%;
  }
}

@media screen and (max-width: 550px) {
  #restartButton {
    width: 25%;
    font-size: 90%;
    margin-top: 1%;
    padding: 1%;
  }

  #scorebar {
    margin-top: 3%;
    width: 60%;
  }

  label {
    font-size: 90%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;
  }

  .card,
  .cardFront {
    height: 55px;
    width: 45px;
    margin-left: 5%;
    margin-top: 1%;
  }

  .cardFront .icon {
    margin-top: 25%;
    width: 80%;
    margin-left: 10%;
  }

  .card:hover {
    opacity: 1;
    transform: none;
  }

  footer {
    margin-top: 4%;
  }

  span {
    font-size: 100%;
    margin-left: 20%;
  }
}